<p>
	I started off as a ski tech at a local ski hill. It was here where I began my thirst to learn and perfect what I was doing. While I worked at the ski hill, I would research and test different ways to wax, sharpen, fix, and mount the equipment for every user type. To find out what the best would be for each user I had to learn how to "interview" the customer, a technique that became priceless. In this "interview" I would try and get the feel of the person and try and figure out what they would really want and then I would suggest what I thought and ask how they felt about it. The hill being a local place I would see the person often after the service and we would talk about what could be better or if it was spot on. This experience got me to realize that I enjoyed making things then finding out how to make these things better.
</p>
<p>
	While I went to school, I realized that I have truly "found my calling". I found all the skills that I have been honing in the past few years are very needed and rarely found. From the first class, I was hooked. I was entering a field that a person could try something and it could work in many different ways in as many languages. 
</p>
<p>
	My first indrustry job was working in the Cognos system.
</p>
<p>
	I currently work with PHP and Wordpress. 
</p>