<div class="container">
  <div class="user-details">
    <h3> My Expertise </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Design</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>CSS, HTML, Twitter Bootstrap, sass</p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-ruby-plain-wordmark colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <p>Java, Ruby on Rails, SQL, MYSQL, PL/SQL, JavaScript, JQuery, PHP, Jekyell, XML</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-apache-line-wordmark"></i>
      <i class="devicon-intellij-plain"></i>
      <p>Git, Sublime, Eclipse, Intellij, Mac, Windows, Linux, VMWare, Tomcat, Apache, Github, Heroku, Oracle, Cognos, Photoshop, Illustrator, InDesign</p>
    </div>
  </div>
</div>
