<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <a href="https://mischelleandryan.herokuapp.com/" target="_blank"><img alt="Home photo for the wedding" src="{{ "/assets/img/homepage_1.jpg" | prepend: site.baseurl }}" /></a>
    </div>
    <div class="six columns">
      <h5>Mischelle and Ryans Wedding Page</h5>
      <li>Ruby On Rails</li>
      <li>MySQL</li>
      <li>CSS</li>
      <li>Twitter Bootstrap</li>
      <p>Project I made with and for a group of friends for their wedding. Made with Ruby on rails. Also learned to use Light box to make many of photos look and feel better.</p>
      <a class="project-link" href="https://mischelleandryan.herokuapp.com/" target="_blank">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Project Title </h5>
      <ul>
        <li> Featured Skills</li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
</div>
